$inverse-global-color-mode: none; // Disable inverse component

$global-primary-background: #0d6efd;
$global-secondary-background: #673ab7;
$global-success-background: #4caf50;
$global-warning-background: #ff9800;
$global-danger-background: #f44336;

$global-inverse-color: #fff;

$global-link-color: $global-primary-background;
$global-link-hover-color: darken($global-link-color, 10%);
$base-link-hover-text-decoration: none;

$button-success-background: $global-success-background;
$button-success-color: $global-inverse-color;
$button-success-hover-background: darken($global-success-background, 5%);
$button-success-hover-color: $global-inverse-color;
$button-success-active-background: darken($global-success-background, 10%);
$button-success-active-color: $global-inverse-color;

$button-warning-background: $global-warning-background;
$button-warning-color: $global-inverse-color;
$button-warning-hover-background: darken($global-warning-background, 5%);
$button-warning-hover-color: $global-inverse-color;
$button-warning-active-background: darken($global-warning-background, 10%);
$button-warning-active-color: $global-inverse-color;