// Button success
.uk-button-success {
  background-color: $button-success-background;
  color: $button-success-color;
  border: none;

  &:hover {
    background-color: $button-success-hover-background;
    color: $button-success-hover-color;
  }

  &:active, &.uk-active {
    background-color: $button-success-active-background;
    color: $button-success-active-color;
  }
}

// Button warning
.uk-button-warning {
  background-color: $button-warning-background;
  color: $button-warning-color;
  border: none;

  &:hover {
    background-color: $button-warning-hover-background;
    color: $button-warning-hover-color;
  }

  &:active, &.uk-active {
    background-color: $button-warning-active-background;
    color: $button-warning-active-color;
  }
}

.uk-button-default:disabled,
.uk-button-primary:disabled,
.uk-button-secondary:disabled,
.uk-button-success:disabled,
.uk-button-warning:disabled,
.uk-button-danger:disabled {
  opacity: .65;
  cursor: default;
  pointer-events: none;
  color: $global-inverse-color;
}

.uk-button-default:disabled {
  color: $global-emphasis-color;
}

.uk-button-primary:disabled {
  background-color: $global-primary-background;
}

.uk-button-secondary:disabled {
  background-color: $global-secondary-background;
}

.uk-button-danger:disabled {
  background-color: $global-danger-background;
}

// Button Outline

/*.uk-button-default-outline {
  background-color: transparent !important;
  color: #9e9e9e;
  border: 1px solid #9e9e9e;
}

.uk-button-default-outline:hover,
.uk-button-default-outline:focus {
  color: #757575;
  border: 1px solid #757575;
}

.uk-button-default-outline:active,
.uk-button-default-outline.uk-active {
  color: #616161;
  border: 1px solid #616161;
}

.uk-button-primary-outline {
  background-color: transparent !important;
  color: #2196f3;
  border: 1px solid #2196f3;
}

.uk-button-primary-outline:hover,
.uk-button-primary-outline:focus {
  color: #1976d2;
  border: 1px solid #1976d2;
}

.uk-button-primary-outline:active,
.uk-button-primary-outline.uk-active {
  color: #0d47a1;
  border: 1px solid #0d47a1;
}

.uk-button-secondary-outline {
  background-color: transparent !important;
  color: #673ab7;
  border: 1px solid #673ab7;
}

.uk-button-secondary-outline:hover,
.uk-button-secondary-outline:focus {
  color: #512da8;
  border: 1px solid #512da8;
}

.uk-button-secondary-outline:active,
.uk-button-secondary-outline.uk-active {
  color: #311b92;
  border: 1px solid #311b92;
}

.uk-button-danger-outline {
  background-color: transparent !important;
  color: #f44336;
  border: 1px solid #f44336;
}

.uk-button-danger-outline:hover,
.uk-button-danger-outline:focus {
  color: #d32f2f;
  border: 1px solid #d32f2f;
}

.uk-button-danger-outline:active,
.uk-button-danger-outline.uk-active {
  color: #b71c1c;
  border: 1px solid #b71c1c;
}

.uk-button-success-outline {
  background-color: transparent !important;
  color: #4caf50;
  border: 1px solid #4caf50;
}

.uk-button-success-outline:hover,
.uk-button-success-outline:focus {
  color: #388e3c;
  border: 1px solid #388e3c;
}

.uk-button-success-outline:active,
.uk-button-success-outline.uk-active {
  color: #1b5e20;
  border: 1px solid #1b5e20;
}

.uk-button-warning-outline {
  background-color: transparent !important;
  color: #ff9800;
  border: 1px solid #ff9800;
}

.uk-button-warning-outline:hover,
.uk-button-warning-outline:focus {
  color: #f57c00;
  border: 1px solid #f57c00;
}

.uk-button-warning-outline:active,
.uk-button-warning-outline.uk-active {
  color: #e65100;
  border: 1px solid #e65100;
}*/
