.fix-category {
  text-decoration: none;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .08);

  &:hover, &:focus {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  }

  &:active {
    box-shadow: none;
  }
}