.bg-simple {
  //backdrop-filter: saturate(70%) blur(6px);
  backdrop-filter: saturate(70%) blur(6px);
  background: rgba(248, 249, 250, 0.5);
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0, .15), inset 0 -1px 0 rgb(0, 0, 0, .15);

  &-footer {
    border-top: 1px solid #dee2e6;
    box-shadow: 0 -0.2rem 0.5rem rgb(0, 0, 0, .15), inset 0 -1px 0 rgb(0, 0, 0, .15);
  }
}

.fix-shadow-hover {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .08);

  &:hover, &:focus {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  }

  &:active {
    box-shadow: none;
  }
}

.fix-menu-card {
  margin-top: .45rem !important;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1rem;
  background-color: #f9f9fa;
}

